<a href="https://colab.research.google.com/github/mtfehl/BSE/blob/main/DS/exercises/Exercise_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise set #0

## General Comments and Advices

- These exercises are not representative of the actual datathon questions. They are mainly designed to help you refresh your coding skills and ensure you are prepared for the level required in both the datathon and the group project.

- It is good practice to get comfortable solving these exercises on Colab, as the datathon will need to be submitted through Colab.

- You may use R or Python.

- You are encouraged to use online resources to look up functions or seek help as needed for the assignment.

# Titanic data set

## Question 1

Load the dataset [titanic3.csv](https://github.com/barcelonagse-datascience/academic_files/raw/master/data/titanic3.csv) in an R data frame (i.e., a Tibble in `dplyr`). Visualize the first few records of the data frame.

The fields of the titanic3.csv dataset are
- pclass: Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
- survival: Survival (0 = No; 1 = Yes)
- name: Name
- sex: Sex
- age: Age
- sibsp: Number of Siblings/Spouses Aboard
- parch: Number of Parents/Children Aboard
- ticket: Ticket Number
- fare: Passenger Fare (British pound)
- cabin: Cabin
- embarked: Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
- boat: Lifeboat
- body: Body Identification Number
- home.dest: Home/Destination

## Question 2

Compute the number of NA observations or missing observations for each variable in the data set.

## Question 3

Did Major Archibald Willingham Butt survive the shipwreck?

## Question 4

For each lifeboat compute the total number of passangers that took that boat as well as the fraction of passengers in the lifeboat
relative to the total number of passengers in lifeboats. (If the passenger cannot be associated to a unique lifeboat discard the observation).

## Question 5

Compute the fraction of first class passengers and the average ticket fare for the passengers that took a lifeboat and those who did not.

## Question 6

How many passengers of the titanic were doctors?

## Question 7

Make a boxplot of the age of the passengers by class and by sex

## Question 8

The home.dest field is used to store the home and destination of passengers. Note however that this field does not always have complete information.

When both the the home and destination of a passenger are known, this information is stored in this string using the format:
```
"<home> / <dest>"
```

Construct a data frame containing the fields name, home and destination for all passengers for which both the home and destination information is available. The field name contains the name of the passenger, the field home contains the home of the passenger and the field dest contains the destination of a passenger. If the home and dest fields contain both city and state (or country), store only the city.

# Rio dataset

Load the dataset available at this [link](https://raw.githubusercontent.com/barcelonagse-datascience/academic_datasets/refs/heads/main/rio2016.csv). It contains a description of all athletes who won a medal at the Rio Olympics (Reference not provided, but kindly collected and made available online).

## Question 9

Did either Lorenzo Cappello, Alberto Santini or Alessandro Ciancetta take part to this Olympics? Use a if control structure to print the result.

## Question 10

How many people took part in the swimming competition?

## Question 11

How many athletes competed in the 2016 Summer Olympics? Create a dataframe with the number of athletes that competed for each country. Which country brought the most athletes, and how many was this?

## Question 12

How many medals of each type (gold, silver, bronze) were awarded at this Olympics? Use a function to check if they are all equal, and can you explain what you are seeing?

## Question 13

Which athlete won the most medals and how many medals did the win? Who won the most gold medals? How about Silver medals? In the case of ties, display all the relevant athletes. Among the athletes who won at least three medals (any kind), who won the most bronze medals?

## Question 14

Create a new column with the age of each athletes at time of competition. Recall, the Rio olympics where in 2016. Who was the youngest athlete?
Answer the same questions above, but now only among athletes who won a medal. Do it with a single pipe.

## Question 15


Do a plot where you visualize the count of gold, silver, and bronze medals for five countries of your choice.